[Install]
WantedBy=default.target

[Service]
BusName=org.mpris.MediaPlayer2.playerctld
ExecStart=/nix/store/ji0yssq8sagpzsknamjdqpp8vds0qxq0-playerctl-2.4.1/bin/playerctld
Type=dbus

[Unit]
Description=MPRIS media player daemon
